<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <img src="/static/header.png" alt="header" width="100%" height="150"><br><br>
    {% block body %}{% endblock %}
    <div class="footer">
        <img src="/static/footer.png" alt="phoenix" width="100%" height="100">
    </div>
</body>
</html>
